body {
    font-size: 15pt;
    background-color: lightgoldenrodyellow;
    margin: 0.5cm
}
img{
  height: 225px;
  width: 275px;
  float: center;
  margin-left: 0.6cm
}
h1 {
  text-align: center;
  font-family: fantasy;
  color: darkcyan
  }
p{
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.img2{
  margin-right: 0.5cm;
  height: 200px;
  width: 250px;
}
.img3{
  display: block;
  margin: 0 auto;
  width: 150 px;
}
footer{
  display: box-shadow ;
  color: seagreen;
  
}
.img4{
  width: 250px;
  height: 220px;
}
.img5{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
